*.iml
*/target/*
.idea/*
*/.idea/*
.gradle/*
*/schema/*
build/*
out/*
downloaded/*
node_modules/*

*.classpath
*.project
*/.settings/*
.settings/*
*.class

# Package Files #
*.jar
*.war
*.ear

env.properties